body {
  margin-left: 20%;
  margin-right: 20%;
  background-image: linear-gradient( 99.9deg, rgba(27, 24, 31, 1) 21.2%, rgba(50, 4, 89, 1) 84.8%);
  font-family: 'Roboto', sans-serif;
  margin-top: 2%;
}

.topics {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  column-gap: 10px;
  margin-bottom: 20px;
}

.topic {
  height: 22px;
  width: 150px;
  background-color: #470563;
  color: white;
  text-align: center;
}

.photo-name {
  background-color: #470563;
  color: white;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 20%;
}

.photo-sciname {
  background-color: #470563;
  color: white;
  text-align: center;
  position: absolute;
  top: 24%;
  left: 20%;
}

.general-description {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 10px;
  margin-bottom: 20px;
}

.main-photo {
  height: 275px;
}

.description {
  display: grid;
  row-gap: 10px;
  height: 275px;
  width: 100%;
}

.details {
  display: grid;
  background-color: #470563;
  color: white;
  text-align: center;
}

.types {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.type {
  background-color: #5c1053;
  width: 215px;
  height: 110px;
  color: white;
  text-align: center;
}

.explanation {
  display: grid;
  width: 100%;
  height: 200px;
  background-color: #001b59;
  color: white;
  padding: 1%;
  text-align: justify;
}

.decorations {
  display: flex;
  justify-content: space-around;
}

.decoration-left {
  background: rgb(12, 10, 36);
  background: linear-gradient(90deg, rgba(12, 10, 36, 1) 7%, rgba(9, 9, 121, 1) 48%, rgba(0, 153, 156, 1) 97%);
  width: 450px;
  height: 15px;
  margin: 20px;
}

.decoration-right {
  background: rgb(0, 153, 156);
  background: linear-gradient(90deg, rgba(0, 153, 156, 1) 0%, rgba(9, 9, 121, 1) 65%, rgba(12, 10, 36, 1) 94%);
  width: 450px;
  height: 15px;
  margin: 20px;
}

.decoration-text {
  width: 100px;
  height: 15px;
  margin: 20px;
  color: white;
  text-align: center;
}

.images {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  column-gap: 10px;
  row-gap: 80px;
  margin-bottom: 20px;
}

.image {
  background-color: lightcoral;
  width: 150px;
  height: 150px;
}

.title {
  margin: 30px;
}

.subtitle {
  margin: 30px;
}

.logo {
  width: 60px;
  height: 60px;
  color: white;
  display: block;
  margin: auto;
}